streamlit==1.40.0
streamlit-webrtc==0.63.11
aioice>=0.10.1
av==17.1.0
opencv-contrib-python==4.11.0.86
mediapipe==0.10.21
numpy==1.26.4
tensorflow==2.16.2
protobuf==4.25.9
jax==0.4.28
jaxlib==0.4.28
ml-dtypes==0.3.2